<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/math_test.css')}}">
</head>


<body>

    {% block body %} 
    
    {% endblock %}
<script src="{{ url_for('static', filename='JavaScrept/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='JavaScrept/main.js')}}"></script>

</body>
</html>