<div class="container" dir="ltr">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div dir="ltr" class="col-md-3 mb-2 mb-md-0 text-end"  >
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg
          class="bi"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      <a  href=' ' id='elLogo' accesskey='1'><img src="{{ url_for('static', filename='images/img9.jpeg') }}" alt="تعلم اللغات "  width="30%" ></a>
    </div>
   


    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" >
      <li><a href="#" class="nav-link px-2 link-secondary">الرئيسية </a></li>
      <li><a href="#" class="nav-link px-2">المميزات </a></li>
      <li><a href="#" class="nav-link px-2">الدفع </a></li>
      <li><a href="#" class="nav-link px-2">أسئلة وأجوبة </a></li>
      <li><a href="#" class="nav-link px-2">من نحن </a></li>
    </ul>

    <div class="col-md-3 text-start">
      <button type="button" class="btn btn-outline-primary me-2">
        <a href="login.html">تسجيل الدخول</a>
      </button>
      <button type="button" class="btn btn-primary">
        <a href="signup.html" style="color:white">انشاء حساب </a>
      </button>
    </div>
  </header>
</div>
